
<div style="display: flex; align-items: center;">
    <div
        style="padding-right: 1rem;"
    >
        <p-selectButton 
            [options]="opcoesVisualizacao" 
            [(ngModel)]="opcaoVisualizacaoSelecionada" 
            optionLabel="name" 
            optionValue="value"
        />
    </div>
    <p-multiSelect 
        class="multiselect-status"
        [options]="status" 
        [(ngModel)]="statusSelecionado" 
        optionLabel="name" 
        placeholder="Status da Tarefa"
    />
</div>
